= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f|
  .container.top-50
    .form-group
      = f.input :title
      = f.text_area :content, :class => "tinymce", :rows => 20, :cols => 120
      = f.input :placename
      = f.input :published_date, :start_year => 2001
      = f.input :flickr_album
    = f.button :submit
    = tinymce