/ Page Header
%header.masthead{:style => "background-image: url('#{@header_image_url}')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated

/ Main Content
.container
  .row
    .col-md-12
      - @posts.each do |post|
        .row.top-50
          .col-md-10.mx-auto
            .post-preview
              %h2.post-title
                =link_to post.title, post
              %p.post-subtitle
                =sanitize(post.content)
            -post.photos.each do |photo|
              .row
                .col-md-12.mx-auto
                  %a.image-link{"data-lightbox" => "set", "data-title" => "#{photo.title}", :href => "#{photo.large}"}
                    %img.image{:alt => "", :src => "#{photo.large}", :class => "lightbox-thumb mx-auto d-block"}
                
  #hr
  .row
    .col-lg-8.col-md-10.mx-auto
      = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer   

  %br/
  = link_to 'New Post', new_post_path