/ Page Header
%header.masthead.d-none.d-md-block{:style => "background-image: url('#{@header_image_url}')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated

/ Main Content
.container
  .row
    .col-md-12
      - @posts.each.with_index do |post, idx|
        - if post.status == 'published' || user_signed_in?
          .row.top-50
            .col-md-10.mx-auto
              .post-preview
                %h2.post-title
                  =link_to post.title, post
                -if post.city && post.country
                  %span.meta= "Posted #{time_ago_in_words(post.published_date)} ago in #{post.city}, #{post.country}"
                - else
                  %span.meta= "Posted #{time_ago_in_words(post.published_date)} ago"
                - if post.status == 'draft'
                  %span.meta.draft= "(draft)"
                %p.post-subtitle
                  =sanitize(post.content)

          -if post.photos.count > 0
            .row
              .col-md-12.mx-auto
                -if idx == 0
                  - photos = post.photos.order(:sort)
                -else
                  - photos = post.photos.order(:sort)
                -photos.each_slice(3) do |photoblock|
                  .row
                    -photoblock.each do |photo|
                      .col-lg-4.mx-auto
                        %a.image-link{"data-lightbox" => "#{post.title}", "data-title" => "#{photo.title}", :href => "#{photo.large}"}
                          %img.image{:alt => "#{photo.title}", :src => "#{photo.small}", :class => "lightbox-thumb mx-auto d-block"}

  #hr
  .row
    .col-lg-8.col-md-10.mx-auto
      = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

  %br/
  - if user_signed_in?
    = link_to 'New Post', new_post_path
