/ Page Header
%header.masthead{:style => "background-image: url('#{@header_image_url}')", :role => "img", "aria-label" => "Travel blog header image"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading exploring the world since 2001

/ Main Content
.container
  .row
    .col-12
      - @posts.each.with_index do |post, idx|
        - if post.status == 'published' || user_signed_in?
          .row.mt-5
            -if idx == 0 and post.latitude?
              .col-md-8.col-12
                .post-preview
                  %h2.post-title
                    =link_to post.title, post
                  -if post.city && post.country
                    %span.meta= post.published_date ? "Posted #{time_ago_in_words(post.published_date)} ago in #{post.city}, #{post.country}" : "Posted in #{post.city}, #{post.country}"
                  - else
                    %span.meta= post.published_date ? "Posted #{time_ago_in_words(post.published_date)} ago" : "Posted"
                  - if post.status == 'draft'
                    %span.meta.draft= "(draft)"
                  %p.post-subtitle
                    =sanitize(post.content)
              = content_tag 'div', '', class: 'col-md-4 col-12 post_id', id: 'minimapdiv', data: {id: post.id, latitude: post.latitude, longitude: post.longitude}, role: "region", "aria-label" => "Map showing location for #{post.title}" do
                #map.minimap.col-12.d-none.d-md-block{"aria-label" => "Interactive map"}
                %span#fullscreen.d-none.d-md-block= link_to "view full screen", map_path(:post => post.id), "aria-label" => "Open full screen map for #{post.title}"

            - else
              .col-12
                .post-preview
                  %h2.post-title
                    =link_to post.title, post
                  -if post.city && post.country
                    %span.meta= post.published_date ? "Posted #{time_ago_in_words(post.published_date)} ago in #{post.city}, #{post.country}" : "Posted in #{post.city}, #{post.country}"
                  - else
                    %span.meta= post.published_date ? "Posted #{time_ago_in_words(post.published_date)} ago" : "Posted"
                  - if post.status == 'draft'
                    %span.meta.draft= "(draft)"
                  %p.post-subtitle
                    =sanitize(post.content)

          - if post.photos.count > 0
            .row.mt-5{"role" => "region", "aria-label" => "Photo gallery for #{post.title}"}
              .col-12
                %p.sr-only{"aria-live" => "polite"} Gallery contains #{post.unique_photos.offset(1).count} photos
                .pswp-gallery{"itemscope" => "", "itemtype" => "http://schema.org/ImageGallery"}
                  .row
                    - post.unique_photos.offset(1).each do |photo|
                      .col-md-4
                        %figure
                          %a{"href" => photo.large, "itemprop" => "contentUrl", "target" => "_blank"}
                            %img.image.img-fluid{:alt => "#{photo.title} - #{post.title} photo gallery", :src => photo.small}
                          - if not photo.title.include?("jpg")
                            %figcaption{:id => "photo-desc-#{photo.id}"}= photo.title


  #hr
  .container.pt-3
    .row.justify-content-center
      .col-auto
        %nav
          = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'pagination'

  %br/
  - if user_signed_in?
    = link_to 'New Post', new_post_path, class: 'btn btn-primary'
