/ Page Header
%header.masthead{:style => "background-image: url('img/home-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated

/ Main Content
.container
  .row
    .col-lg-8.col-md-10.mx-auto
      - @posts.each do |post|
        .post-preview
          %h2.post-title
            =link_to post.title, post
          %p.post-subtitle
            =link_to truncate(post.content, length: 300), post
        %p.post-meta
          Posted
          = time_ago_in_words(post.created_at)
          ago
          - if post.city && post.country
            from
            = post.city
            ,
            = post.country
          
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
  #hr
  .row
    .col-lg-8.col-md-10.mx-auto
      = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer   

  %br/
  = link_to 'New Post', new_post_path