/ Page Header
%header.masthead{:style => "background-image: url('img/post-bg.jpg')"}
	.container
		.row
			.col-lg-8.col-md-10.mx-auto
				.post-heading
					%h1
					= @post.title
				%h2.subheading Problems look mighty small from 150 miles up
				%span.meta
					Posted
					= time_ago_in_words(@post.created_at)
					ago
					- if @post.city && @post.country
						from
						= @post.city
						,
						= @post.country
/ Post Content
%article
	.container
		.row
			.col-lg-8.col-md-10.mx-auto
				= @post.content

= link_to 'Edit', edit_post_path(@post)
|
\#{link_to 'Back', root_path}