/ Page Header
= content_tag 'div', '', class: 'container-fluid top-50 post_id', id: 'post_id', data: {id: @post.id, latitude: @post.latitude, longitude: @post.longitude}
-if @post.photos.count > 0
	%header.masthead.d-none.d-md-block{:style => "background-image: url(#{@post.unique_photos.first.large})", :role => "img", "aria-label" => "Header image for post: #{@post.title}"}
		.container
			.row
				.col-lg-8.col-md-10.mx-auto
					.post-heading
						%h1= @post.title
						%span.meta=@meta
						- if @post.status == 'draft'
							%span.meta.draft= "(draft)"
- else
	%header.empty
		.container
			.row
				.col-lg-8.col-md-10.mx-auto
					.post-heading
						%h1= @post.title
						%span.meta=@meta
						- if @post.status == 'draft'
							%span.meta.draft= "(draft)"

.container.top-100.d-lg-none.d-md-none
	.row
		.col-lg-8.col-md-10.mx-auto
			.post-heading
				%h1= @post.title
				%span.meta=@meta
				- if @post.status == 'draft'
					%span.meta.draft= "(draft)"

%article
	.container
		.row
			.col-md-12
				%h1.post-title= @post.title
				%p.post-meta= @meta
				- if user_signed_in?
					.row
						.col-md-12
							= link_to 'Edit', edit_post_path(@post)
				.row
					-if @post.content.present?
						-if @post.latitude.present?
							#content.col-md-8
								= sanitize @post.content
							= content_tag 'div', '', class: 'col-md-4 post_id', id: 'minimapdiv', data: {id: @post.id, latitude: @post.latitude, longitude: @post.longitude}, role: "region", "aria-label" => "Map showing location for #{@post.title}" do
								#map.minimap.col-md-12.d-none.d-md-block{"aria-label" => "Interactive map"}
								%span#fullscreen.d-none.d-md-block= link_to "view full screen", map_path(:post => @post.id), "aria-label" => "Open full screen map for #{@post.title}"
						-else
							#content.col-md-12
								= sanitize @post.content
					-else
						.col-md-12
							%p No content available for this post.

		-if @post.previous || @post.next
			.row.pagination.top-50
				.col-md-12
					%nav
						%ul.pagination.justify-content-center
							-if @post.previous
								%li.page-item
									=link_to "Previous post: #{@post.previous.title}", @post.previous, :class => "page-link"
							-if @post.next
								%li.page-item
									=link_to "Next post: #{@post.next.title}", @post.next, :class => "page-link"
		- if @post.photos.count > 0
			.row.top-50.lightboxpics{"role" => "region", "aria-label" => "Photo gallery for #{@post.title}"}
				.col-md-12
					%p.sr-only{"aria-live" => "polite"} Gallery contains #{@post.unique_photos.offset(1).count} photos
				- @post.unique_photos.offset(1).each.with_index do |photo, index|
					.col-12.col-md-4.mb-4
						-if user_signed_in?
							= link_to photo_path(photo), method: :delete, class: "float-end", data: {confirm: "Are you sure you want to delete this photo?"}, "aria-label" => "Delete photo: #{photo.title}" do
								%i.fa.fa-times{"aria-hidden" => "true"}
						%figure
							%a.image-link{"data-lightbox" => "#{@post.title}", "data-title" => "#{photo.title}", :href => "#{photo.large}", "aria-label" => "View larger version of #{photo.title} (photo #{index + 1} of #{@post.unique_photos.offset(1).count})", :tabindex => "0", "aria-describedby" => "photo-desc-#{photo.id}"}
								%img.image{:alt => "#{photo.title} - #{@post.title} photo gallery", :src => "#{photo.large}", :class => "lightbox-thumb mx-auto d-block img-fluid w-100"}
							-if not photo.title.include? "jpg"
								%figcaption{:id => "photo-desc-#{photo.id}"}= "#{photo.title}"


-if @post.previous || @post.next
	.container.top-50
		.row.pagination
			.col-md-12
				%nav
					%ul.pagination.justify-content-center
						-if @post.previous
							%li.page-item
								=link_to "<< #{@post.previous.title}", @post.previous, :class => "page-link"
						%li.page-item
							=link_to 'All posts', posts_path, :class => "page-link"
						-if @post.next
							%li.page-item
								=link_to "#{@post.next.title} >>", @post.next, :class => "page-link"

.container
	.row
		.col-md-12
			- if user_signed_in?
				= link_to 'Edit', edit_post_path(@post)
				= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }

