/ Page Header
/ %header.masthead.d-none.d-md-block
/   .container
/     .row
/       .col-lg-8.col-md-10.mx-auto
/         .site-heading
/           %h1 Steve and Glo's travel blog
/           %span.subheading Cos working is over-rated

.container
  .row.top-100
    .col-lg-8.col-md-10.mx-auto
      .site-heading.center
        %h2 Steve and Glo's travel tips
        %span.subheading Useful stuff we've learnt on the road
  %hr

.row
  .col-md-12.hidden-sm.hidden-xs.center
    =link_to tips_path(category: "money") do
      %span.btn
        %i.fa.fa-dollar
        = "money"
    =link_to tips_path(category: "kids") do
      %span.btn
        %i.fa.fa-child
        = "kids"
    =link_to tips_path(category: "gadgets") do
      %span.btn
        %i.fa.fa-camera
        = "gadgets"
    =link_to tips_path do
      %span.btn
        %i.fa.fa-times
        clear

/ Main Content
.container
  .row
    .col-md-12
      - @tips.each.with_index do |tip, idx|
        .row.top-50
          .col-md-10.mx-auto
            .tip-preview
              %h2.tip-title
                =link_to tip.title, tip
              %span.meta= "Posted #{time_ago_in_words(tip.created_at)} ago"
              %p.tip-subtitle
                =sanitize(tip.content)

  #hr
  .row
    .col-lg-8.col-md-10.mx-auto
      = will_paginate @tips, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

  %br/
  - if user_signed_in?
    = link_to 'New Tip', new_tip_path
