<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Steve and Glo's travel blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= posts_path %>">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= locations_path %>">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= map_path %>">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= subscribe_path %>">Subscribe</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_post_path %>">New Post</a>
          </li>
        <% end %>
      </ul>
      <!-- = form_tag posts_path, class: "form-inline mt-2 mt-md-0", id: "frmSearch", method: :get do
      -->
      <!--   = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off", placeholder: "Search for a post"
      -->
      <!--   = button_tag type: 'submit', class: "btn", id: "btnSearch" do
      -->
      <!--     %i.fa.fa-search
      -->
    </div>
  </div>
</nav>
