!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Steve and Glo's travel blog", :name => "description"}/
    %meta{:content => "Stephen Lead", :name => "author"}/
    %meta{'name' => 'contact', :content => 'http://www.stephenlead.com'}
    %meta{'property' => "og:title", :content => og_title}
    %meta{'property' => "og:url", :content => request.original_url}
    %meta{'property' => "og:type", :content => "website"}
    %meta{'property' => "og:image", :content => og_image}
    %meta{'name' => 'twitter:card', :content => 'summary_large_image'}
    %meta{'name' => 'twitter:site', :content => '@stephenlead'}
    %meta{'name' => 'twitter:image', :content => og_image}
    %meta{'name' => 'twitter:description', :content => "Steve and Glo's travel blog"}

    %title Travels with Steve and Glo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    / Custom fonts for this template
    %link{:href => "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    = analytics_init if GoogleAnalytics.valid_tracker?
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    =render 'layouts/nav'
    =render 'layouts/notifications'
    = yield
    =render 'layouts/footer'