!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Steve and Glo's travel blog", :name => "description"}/
    %meta{:content => "Stephen Lead", :name => "author"}/
    %meta{'name' => 'contact', :content => 'http://www.stephenlead.com'}
    %meta{'property' => "og:title", :content => og_title}
    %meta{'property' => "og:description", :content => "Steve and Glo's travel blog"}
    %meta{'property' => "og:url", :content => request.original_url}
    %meta{'property' => "og:type", :content => "website"}
    %meta{'property' => "og:image", :content => og_image}
    %meta{'property' => "og:image:width", :content => "1024"}
    %meta{'property' => "og:image:height", :content => "600"}
    %meta{'name' => 'twitter:card', :content => 'summary_large_image'}
    %meta{'name' => 'twitter:site', :content => '@stephenlead'}
    %meta{'name' => 'twitter:image', :content => og_image}
    %meta{'name' => 'twitter:description', :content => "Steve and Glo's travel blog"}

    %title Travels with Steve and Glo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    / Custom fonts for this template
    %link{:href => "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %a.sr-only.sr-only-focusable{:href => "#main-content"} Skip to main content
    %nav{:role => "navigation", "aria-label" => "Main navigation"}
      =render 'layouts/nav'
    =render 'layouts/notifications'
    %main{:id => "main-content", :role => "main"}
      = yield
    %footer{:role => "contentinfo"}
      =render 'layouts/footer'

    / Root element of PhotoSwipe. Must have class pswp.
    .pswp{"tabindex" => "-1", "role" => "dialog", "aria-hidden" => "true"}
      / Background of PhotoSwipe.
      / It's a separate element as animating opacity is faster than rgba().
      .pswp__bg
      / Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap
        / Container that holds slides.
        / PhotoSwipe keeps only 3 of them in the DOM to save memory.
        / Don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        / Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            / Controls are self-explanatory. Order can be changed.
            .pswp__counter
            %button.pswp__button.pswp__button--close{"title" => "Close (Esc)"}
            %button.pswp__button.pswp__button--share{"title" => "Share"}
            %button.pswp__button.pswp__button--fs{"title" => "Toggle fullscreen"}
            %button.pswp__button.pswp__button--zoom{"title" => "Zoom in/out"}
            / Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            / element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden
            .pswp__share-tooltip
          %button.pswp__button.pswp__button--arrow--left{"title" => "Previous (arrow left)"}
          %button.pswp__button.pswp__button--arrow--right{"title" => "Next (arrow right)"}
          .pswp__caption
            .pswp__caption__center
